[run]
include =
    urllib3_gevent/*

omit =
    urllib3_gevent/packages/*
    urllib3_gevent/contrib/appengine.py
    urllib3_gevent/contrib/ntlmpool.py
    urllib3_gevent/contrib/pyopenssl.py
    urllib3_gevent/contrib/securetransport.py
    urllib3_gevent/contrib/_securetransport/*

[report]
exclude_lines =
    except ImportError:
    pass
    import
    raise
    .* # Platform-specific.*
    .*:.* # Python \d.*
    .* # Abstract
    .* # Defensive:
